$content-width: 60em; /* 800px; */
$main: #233960;
$font-style: Georgia, Palatino, 'Times New Roman', Times, serif;
$font-color: #262626; /* #262626;*/
$link-color: #0645ad;
$link-visited-color: #0b0080; /* #425469; */
$link-hover-color: #233960; /* #06e; */
$link-active-color: #faa700;
$heading-font: "Trebuchet MS", Helvetica, 'Muli', sans-serif;
$heading-font-color: #111; /* #425469; */
$light: #E7EDF4;
$header:  #eee;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
